/* Hero section */

.hero {
    width: 100%;
    height: 50%;
    background: url("../img/Hotel/mk na.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var();
    z-index: -1;
}

.container {
    text-size-adjust: inherit;
}

.main-heading {
    color: white;
    line-height: 1;
    position: relative;
    text-shadow: 10x 1px 1rem rgba(0, 0, 0, .5);
    margin-bottom: 2.5rem;
    padding-left: auto;
}

/*-------------------------*\
Hotel Search Bar
\*-------------------------*/

.hotel-search {
    margin: 5px;
    padding: 10px;
}

.hotel-search h3 {
    margin-bottom: 2px;
}

.form-content {
    display: flex;
    margin-top: 10px;
}

.wrapper {
    border: 1px solid var(--lightblack);
    flex-wrap: nowrap;
    padding: 12px 20px 5px;
    box-sizing: border-box;
    height: 75px;
    box-sizing: border-box;
}

.wrapper label {
    display: block;
    color: var(--midblack);
    font-size: 14px;
    line-height: 1.2;
}

.wrapper input {
    margin-top: 5px;
    width: 100%;
    border: 0px;
    line-height: 1.3;
    font-weight: 800px;
    height: 20px;
    font-size: 16px;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wrapper1 {
    flex-shrink: 2;
}

.wrapper .inputType {
    padding: 5px;
    cursor: pointer;
    width: 100%;
    border: 0px;
    font-weight: 800;
    height: auto;
    font-size: 16px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.inputType option {
    font-weight: 600;
}

.inputType option:checked {
    background-color: var(--darkblue);
    color: white;
}

.wrapper2 {
    flex-grow: 2;
}

.wrapper2 .text {
    font-weight: 800;
    font-size: 16px;
}

.wrapper3 {
    padding: 0px;
    text-align: center;
    width: 75px;
    min-width: 75px;
    flex-shrink: 1;
    border: 0px;
}

.wrapper3 .icon,
.wrapper3 .text {
    width: 100%;
    height: 100%;
    background-color: var(--midblue);
    color: white;
    border: 0px;
    font-size: 32px;
}

.wrapper3 .text {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1em;
}

/*-------------------------*\
Content Section
\*-------------------------*/

.content {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
}

.searched-content {
    display: grid;
    grid-gap: 2em;
    margin-bottom: 10px;
}

.searched-content {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.searched-content .searched-item {
    width: auto;
    padding: 10px 5px;
    border: 1px solid var(--black30);
    border-radius: 5px;
}

.searched-content .searched-item {
    text-align: center;
}

.searched-content .searched-item a {
    text-decoration: none;
}

.searched-content .searched-item:hover {
    box-shadow: 2px 2px 5px grey;
}

.searched-content .searched-item .btn-animation {
    height: 40px;
    width: 100px;
}

.searched-content .searched-item a img {
    height: auto;
    width: auto;
    padding: 20px;
}

.searched-content.grid-view .searched-item a img {
    width: 100%;
}

.searched-content .searched-item a h1 {
    font-family: 'Mada', sans-serif;
    margin-top: auto;
    color: var(--midblue);
}

.searched-content .searched-item a h2,
div .details {
    color: var(--darkblue);
    display: inline;
}

.searched-content .searched-item a div {
    margin-top: 3px;
}

.searched-content .searched-item a div .detail {
    font-size: 18px;
}

.searched-content .searched-item a div .detail i[class="fas fa-star"] {
    color: orange;
}

.page-navigation {
    text-align: center;
    margin: 1rem 0;
}

.page-navigation button {
    height: 50px;
    width: 50px;
}

.page-navigation .active {
    color: white;
    cursor: default;
    background-color: var(--lightblue);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 2px 2px 3px rgba(0, 0, 0, 0.2);
}


/*-----------------------------*\
Device max width is 760 orlower
\*-----------------------------*/

@media screen and (max-width: 760px) {
    .form-content {
        flex-direction: column;
    }
    .wrapper4 {
        width: 100%;
    }
    .wrapper4 .text {
        display: initial;
    }
    .wrapper4 .icon {
        display: none;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
    .content {
        grid-column: 1/-1;
    }
    #filter-toggle {
        display: inline-block;
    }
    .filter-container {
        display: none;
        grid-column: 1/-1;
        margin-bottom: 5px;
    }
}

/*-------------------------*\
Device Max width is 760 or lower
\*-------------------------*/

@media screen and (max-width: 760px) {
    .container {
        text-align: center;
    }
}