/*Header image*/

.header-img {
	width: 100%;
	height: auto;
	background-color: black;
	filter: brightness(50%);
}

@media screen and (max-width: 760px) {
	.responsive {
		padding: 0px 20px;
		background-color: white;
	}
}
.centered {
	font-size: 40px;
	font-family: Lucida Handwriting;
	font-weight: 700;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .header-img-container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }


/*-------------------------*\
  Advanced Search Section
\*-------------------------*/

.advanced-search{
	margin: 5px;
	padding: 10px;
}
	.advanced-search h3{
	margin-bottom: 2px;
	}
	.form-content{
		display: flex;
		margin-top: 10px;
	}
		.wrapper{
			border: 1px solid var(--lightblack);
			flex-wrap: nowrap;
			padding: 12px 24px 5px;
			box-sizing: border-box;
			height: 75px;
			box-sizing: border-box;
		}
			.wrapper label{
				display: block;
				color: var(--midblack);
				font-size: 14px;
				line-height: 1.2;
			}
			.wrapper input{
				margin-top: 5px;
				width: 100%;
				border: 0px;
				line-height: 1.3;
				font-weight: 800;
				height: 20px;
				font-size: 16px;
				vertical-align: middle;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		.wrapper0{
			flex-grow: 2;
		}
		.wrapper1{
			flex-grow: 2;
		}
		.wrapper2{
			flex-grow: 1;
		}
			.wrapper .inputType{
				padding: 5px;
				cursor: pointer;
				width: 100%;
				border: 0px;
				font-weight: 800;
				height: auto;
				font-size: 16px;
				vertical-align: middle;
				text-overflow: ellipsis;
			}
			.inputType option{
				font-weight: 600;
			}
			.inputType option:checked{
				background-color: var(--darkblue);
				color: white;
			}
		.wrapper3{
			padding: 0px;
			text-align: center;
			width: 75px;
			min-width: 75px;
			flex-shrink: 1;
			border: 0px;
		}
			.wrapper3 .icon, .wrapper3 .text{
				width: 100%;
				height: 100%;
				background-color: var(--midblue);
				color: white;
				border: 0px;
				font-size: 32px;
			}
			.wrapper3 .text{
				display: none;
			}
			
/*-------------------------*\
  Main Content Sction
\*-------------------------*/
.main-content{
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
}

/*searched content grid view*/
.searched-content{
	display: grid;
	grid-gap: 1em;
	margin-bottom: 10px;
}
.searched-content.grid-view{
	grid-template-columns: repeat(4, minmax(250px, 1fr));
}
.searched-content.list-view{
	grid-template-rows: repeat(1, 1fr);
}
.searched-content .searched-item{
	width: auto;
	padding: 10px 5px;
	border: 1px solid var(--black30);
	border-radius: 5px;
}
.searched-content.grid-view .searched-item{
	text-align: center;
}
.searched-content.list-view .searched-item{
	text-align: left;
}
	.searched-content .searched-item a{
		text-decoration: none;
	}
	.searched-content .searched-item:hover{
		box-shadow: 1.5px 1.5px 5px grey;
	}
	.searched-content .searched-item a img{
		height: auto;
		padding: 0px;
	}
	.searched-content.grid-view .searched-item a img{
		width: 100%;
        height: 150px;
	}
	.searched-content.list-view .searched-item a img{
		float: left;
		height:100%;
		width: 30%;
	}
	.searched-content .searched-item a h3{
		font-family: 'Mada', sans-serif;
		margin-top: auto;
		color: black;
        padding-top: 5px;
	}
	.searched-content .searched-item a p{
		text-align: justify;
		color: var(--ash);
	}
	.searched-content .searched-item a h1, h2, div .details{
		color: var(--darkblue);
		display: inline;
        font-size: 15px;
	}
	.searched-content .searched-item a div{
		margin-top: 3px;
	}
	.searched-content .searched-item a div .details{
		font-size: 14px;
	}
	.searched-content .searched-item a div .details i[class="fa fa-map-marker"]{
		color: red;
	}
	.searched-content .searched-item a div .details i[class="fa fa-star checked"]{
		color: orange;
	}

/*-------------------------*\
  Device Max width is 760 or lower
\*-------------------------*/
@media screen and (max-width: 760px) {
	.form-content{
		flex-direction: column;
	}
	.wrapper3{
		width: 100%;
	}
	.wrapper3 .text{
		display: initial;
	}
	.wrapper3 .icon{
		display: none;
	}
	.wrapper2{
		width: 100%;
	}

	.grid-container{
		grid-template-columns: 1fr;
	}
	.main-content{
		grid-column: 1/-1;
	}
}

/*-------------------------*\
  Custom checkbox
\*-------------------------*/

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 30px;
    padding-bottom: 12px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 6px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  .filter_label {
	font-weight: bold;
    color: var(--midblack);
	font-size: 15px;
  }

  .categorization {
	  font-size: 17px;
	  font-weight: bold;
  }

  
.price-btn {
		background-color: #f1f1f1;
		border: none;
		color: black;
		padding: 6px 12px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 15px;
		margin: 4px 2px;
		border-radius: 5px;
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.price-btn:hover {
		background-color: grey;
		color: white;
	}

	.Active , .Active:hover {
		background-color: #2196F3;
		color: white;
	}


/* animations */
body .advanced-search{animation-delay: 0.25s;}
body .grid-container{animation-delay: 0.35s;}
.searched-item{opacity: 0;}