.grid-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	margin-bottom: 1em;
}
.grid-images{
	grid-column: 1/3;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;
	padding: 10px;
}
.grid-images img{
	background-color: white;
	padding: 10px;
	border: 1px solid var(--black30);
	border-radius: 10px;
	width: 100%;
	height: 20vh;
}
#main-image{
	grid-column: 1/-1;
	height: 75vh;
	box-shadow:  2px 2px 3px rgba(0,0,0,0.4);
	transition: all 2s;
}
.sub-image:hover{
	transform: scale(1.05);
	z-index: 20;
	box-shadow:  2px 2px 3px rgba(0,0,0,0.4);
}
.grid-details{
	margin-top: 10px;
	background-color: var(--extralightblue);
	border-radius: 10px;
	padding: 5px 10px;
}
.grid-details h1{
	color: var(--darkblue);
}
.grid-details p{
	font-size: 1.1em;
	line-height: 1.7;
}
.grid-details .price{
	margin-top: 1vw;
	margin-bottom: 5vw;
	background-color: var(--extralightblue);
	color: black;
	font-weight: 700;
	border: 1px black solid;
}
.grid-details *[class="button"], .price{
	font-family: 'Mada', sans-serif;
	background-color: var(--midblue);
	padding: 10px;
	border-radius: 10px;
	color: white;
	text-align: center;
}
.grid-details *[class="button"]:hover{
	cursor: pointer;
	background-color: var(--darkblue);
	box-shadow: inset -3px -3px 5px rgba(0,0,0,0.4), 3px 3px 3px rgba(0,0,0,0.4);
}
.grid-details button[class="button"]{
	margin: 10px 0 5px 0;
	width: 100%;
	font-size: 1.1em;
	line-height: 1.5;
	border: 0;
}
.grid-details button[class="button"] > i{
	font-size: 1.5em;
	letter-spacing: 0.5em;
}
.grid-details *[class="button"]:hover > i{
	color: var(--extralightblue);
	transform: scale(1.2);
	transition: transform .15s ease-in-out;
}
.description{
	grid-column: 1/-1;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	line-height: 1.5;
	text-align: justify;
	padding: 0 10px;
}
.review-overview{
	padding: 1em;
	grid-column: 1/2;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 1px solid var(--extralightblue);
	border-radius: 15px;
}
.review-overview > h3{
	margin: 0.5em;
	flex-shrink: 2;
}
.review-overview p{
	margin: 0;
}
.review-overview > .rating-details{
	margin: 0.5em;
	flex-shrink: 1;
}
.review-overview > .rating-details > p:first-child{
	display: inline;
	font-size: 3em;
}
.review-overview > .rating-details > p:nth-child(2){
	display: inline;
}
.review-overview > .rating-details > p:nth-child(3){
	color: orange;
	font-size: 2em;
}
.review-overview > .seperate-rating{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.rate-wrapper{
  display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	height: 20%;
	width: 100%;
}
.rate-wrapper p:first-child{
	grid-column: 1/2;
}
.rate-wrapper p:last-child{
	grid-column: 3/4;
}
/*rating bar*/
.rating {
  background: var(--black20);
  border-radius: 20px;
  align-items: center;
  position: relative;
  padding: 0;
  height: 1em;
  width: 100%;
}
.rating-value {
  background-color: #fec107;
  box-shadow: 0 10px 40px -10px #000;
  border-radius: 20px;
  height: 100%;
  width: 0; 
} 

.grid-review{
	grid-column: 2/-1;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(5, minmax(25vw, 1fr));
	grid-template-rows: 1fr 1fr;
	overflow-x: scroll;
	padding: 1em;
	margin-bottom: 10px;;
}
.grid-review::-webkit-scrollbar{
	height: 0.5em;
}
.review{
	padding: 0.5em;
	border: 1px solid var(--black30);
	border-radius: 5px;
	height: 150px;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 2fr;
}
.review:hover{
	transform: scale(1.05);
	box-shadow:  2px 2px 3px rgba(0,0,0,0.4);
}
.review > img{
	width: 100%;
	padding: 0 10px 0 0;
	border-radius: 50%;
	height: auto;
}
.review > p{
	padding: 0.2em;
	margin: 0;
}
.review > p:nth-child(2){
	overflow-y: scroll;
	height: 100%;
}
.review > p:nth-child(2)::-webkit-scrollbar{
	width: 0.3em;
}
.review > p:nth-child(4){
	font-size: 1.2em;
	color: orange;
	margin-top: 0.3em;
	padding: 0;
}
.submit-review-container{
	grid-column: 1/-1;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.submit-review-container .alert-login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.submit-review{
	width: 35vw;
	border: var(--black30) 1px solid;
	padding: 1em 2em;
	border-radius: 1em;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
}
.star-container input{
	display: none;
}
.star-container{
	display: flex;
	width: 100%;
	padding: 0 5em;
	flex-direction: row-reverse;
	justify-content: space-around;
}
.star-container label{
	color: var(--black30);
	font-size: 2em;
	padding: 0.1em;
	transition: all .2s ease;
}
.star-container input:not(:checked) ~ label:hover,
.star-container input:not(:checked) ~ label:hover ~ label{
	color: rgb(250, 197, 63);
	transform: scale(1.1);
}
.star-container input:checked ~ label{
	color: #fec107;
}
.star-container input#rate-5:checked ~ label{
	color: rgb(255, 184, 5);
	text-shadow: 0 0 0.5em rgb(253, 255, 138);
}
.star-container input#rate-1:checked ~ label{
	color: rgb(255, 118, 5);
	text-shadow: 0 0 0.5em rgb(255, 195, 138);
}
.submit-review .head-message{
	font-size: 1.5em;
	line-height: 1.7;
	font-family: 'Sofia Pro', sans-serif;
	font-weight: 600;
	color: orange;
	transition: all .2s ease;
}
.submit-review textarea{
	width: 100%;
	padding: 0.5em 1em;
	margin: 0 0 1em 0;
	border: none;
	outline: none;
	font-size: 1.2em;
	background-color: #00000010;
	border-radius: 0.25em;
}
.submit-review input[type="submit"]{
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 0.5em 1em;
	width: 100%;
}

@media screen and (max-width: 760px){
	.grid-container>div{
		grid-column: 1/-1;
	}
	.seperate-rating > .rate-wrapper{
		margin-top: 1em;
	}
	.grid-review{
		grid-template-columns: repeat(5, minmax(50vw, 1fr));
	}
	.submit-review{
		width: 50vw;
	}
	.star-container{
		padding: 0 1em;
	}
}
.scale{animation: scale 0.5s ease forwards;}
@keyframes scale{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}